[submodule "cultura-ocio-agenda-eventos-actividades"]
	path = cultura-ocio-agenda-eventos-actividades
	url = https://github.com/opencitydata/cultura-ocio-agenda-eventos-actividades.git
[submodule "cultura-ocio-lugares-interes"]
	path = cultura-ocio-lugares-interes
	url = https://github.com/opencitydata/cultura-ocio-lugares-interes.git
[submodule "hacienda-presupuesto"]
	path = hacienda-presupuesto
	url = https://github.com/opencitydata/hacienda-presupuesto.git
[submodule "sector-publico-subvenciones-ayudas"]
	path = sector-publico-subvenciones-ayudas
	url = https://github.com/opencitydata/sector-publico-subvenciones-ayudas.git
